# Windows
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
*.ico

# Eclipse Java Folders
.metadata
.classpath
.project
bin/
data/
logs/
reports/
lib/
launch4j/
.settings/
.recommenders/

# Java Files
*.class
*.dat
*.encrypted
*.properties

# Package Files
*.zip
*.rar

# GitHub config files
.gitattributes
